{% extends "base.html" %}

{% block content %}
     <div class="row">

      
      <h4 class="mt-3">Patients in the United Kingdom</h3>
        <a href="/country?country=United Kingdom" target="_blank">/UK patients</a>
      <h4 class="mt-3">Top 10 patients with the highest cholesterol levels</h4>
        <a href="./patients" target="_blank">/Top 10 patients</a>
      <h4 class="mt-3">Average physical activity - top 10 countries </h4>
        <a href="./activity" target="_blank">Top 10 countries</a>
    </div>
{% endblock %}