<!doctype html>
<html lang="es">
<head>
  <title>Title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('.panel').addClass('mt-3 border border-3 rounded');
      $('.panel h5').addClass('text-center text-info fw-bold mt-2 text-decoration-underline');
      $('.panel > div').addClass('col-sm-12 col-lg p-3 m-2 border border-5 rounded text-center fw-light lh-1').css("background-color", "#eaeafa");
    })
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-info">
    <div class="container-fluid bg-info">
      <a class="navbar-brand bg-info" ><span
          class="current ms-3 fw-bold bg-info text-light">PRACTICA 2 DAWBIO2-M14 Bioinformàtica</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse bg-info" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" aria-current="page" href="{{ url_for('index') }}">
              Índex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" aria-current="page" href="{{ url_for('apis') }}">
              APIs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" aria-current="page" href="{{ url_for('plots') }}">
              Plots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light fw-bold" aria-current="page" href="{{ url_for('maps') }}">
              Maps</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container fs-2 text-center fw-light"></div>
  <hr />
  <main class="container mw-100">
    <h3>{{title}}</h3>

    {% block content %}{% endblock %}

    
  </main>
  <hr />
  <footer class="container mt-5 mb-4 text-center ">
    <p class="fw-light">Institut Provençana. CC-BY-NC-SA</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"></script>
  </footer>
</body>

</html>
