{% extends "base.html" %}

{% block content %}
     <div class="row">

      <h4 class="mt-3 text-primary text-center">M14-UF1-Practice Pt2 by Olga Golovinskaya
        <h4 class="mt-3 text-primary text-center">Technologies used:</h4>
<p  class="text-center">Flask:  a web framework for Python, to build the dynamic components of the website.</p>
<p class="text-center">Jinja Templates:  to streamline the process of integrating dynamic content with HTML.</p>
<p class="text-center">Pandas: a Python library used for data manipulation and analysis, ensuring efficient handling of datasets.</p>
<p class="text-center">Matplotlib and Seaborn: Python visualization libraries to create interactive and informative data visualizations for enhanced user engagement.</p>

      <h4 class="mt-3 text-primary text-center">Dataset Source</h3>
        <a class="text-center" href="https://www.kaggle.com/datasets/iamsouravbanerjee/heart-attack-prediction-dataset/">🌍 Original source and examples, Kaggle website.🌍</a>
      <h4 class="mt-3 text-primary text-center">Data set description</h3>
          <ul class="text-center"style="list-style-type:circle">
            <li><b>Patient ID</b> - Unique identifier for each patient</li>
            <li><b>Age</b> - Age of the patient</li>
            <li><b>Sex</b> - Gender of the patient (Male/Female)</li>
            <li><b>Cholesterol</b> - Cholesterol levels of the patient</li>
            <li><b>Blood Pressure</b> - Blood pressure of the patient (systolic/diastolic)</li>
            <li><b>Heart Rate</b> - Heart rate of the patient</li>
            <li><b>Diabetes</b> - Whether the patient has diabetes (Yes/No)</li>
            <li><b>Family History</b> - Family history of heart-related problems (1: Yes, 0: No)</li>
            <li><b>Smoking</b> - Smoking status of the patient (1: Smoker, 0: Non-smoker)</li>
            <li><b>Obesity</b> - Obesity status of the patient (1: Obese, 0: Not obese)</li>
            <li><b>Alcohol Consumption</b> - Level of alcohol consumption by the patient (None/Light/Moderate/Heavy)</li>
            <li><b>Exercise Hours Per Week</b> - Number of exercise hours per week</li>
            <li><b>Diet</b> - Dietary habits of the patient (Healthy/Average/Unhealthy)</li>
            <li><b>Previous Heart Problems</b> - Previous heart problems of the patient (1: Yes, 0: No)</li>
            <li><b>Medication Use</b> - Medication usage by the patient (1: Yes, 0: No)</li>
            <li><b>Stress Level</b> - Stress level reported by the patient (1-10)</li>
            <li><b>Sedentary Hours Per Day</b> - Hours of sedentary activity per day</li>
            <li><b>Income</b> - Income level of the patient</li>
            <li><b>BMI</b> - Body Mass Index (BMI) of the patient</li>
            <li><b>Triglycerides</b> - Triglyceride levels of the patient</li>
            <li><b>Physical Activity Days Per Week</b> - Days of physical activity per week</li>
            <li><b>Sleep Hours Per Day</b> - Hours of sleep per day</li>
            <li><b>Country</b> - Country of the patient</li>
            <li><b>Continent</b> - Continent where the patient resides</li>
            <li><b>Hemisphere</b> - Hemisphere where the patient resides</li>
            <li><b>Heart Attack Risk</b> - Presence of heart attack risk (1: Yes, 0: No)</li>
          </ul>
      </p>
    </div>
{% endblock %}