{% extends "base.html" %}

{% block content %}
     <div class="row">
        <p>Number of participants of each country.</p>
        <div class="text-center">
        <img class="img-fluid rounded rounded-5" src="data:image/png;base64,{{mapa|safe}}">
          <!-- <img class="img-fluid rounded rounded-5" src="images/mapa.jpg"> -->
          
        </div>
      </div>
      
      </p>
    </div>
{% endblock  %}