{% extends "base.html" %}

{% block content %}
     <div class="row">

      <h5>Plots</h5>


      <h4 class="mt-2">Plot 1 Description</h4>
        <p>Dependence of cholesterol levels on stress levels.</p>

        <div class="text-center">
          <img class="img-fluid" src="data:image/png;base64,{{grafic1|safe}}" alt="Gràfic de prova del Titanic" id="grafic1">
        </div>
      
      <h4 class="mt-2">Plot 2 Description</h4>
        <p>Cholesterol Level per Continent</p>
 
        <div class="text-center">
          <img class="img-fluid rounded rounded-5" src="data:image/png;base64,{{grafic2|safe }}" id="grafic2">
        </div>


{% endblock %}